[Unit]
Description=D-Bus System Message Bus

[Service]
ExecStart=/usr/bin/dbus-daemon --system --address=systemd: --nofork --systemd-activation
ProtectSystem=full
