[Unit]
Description=Journal Service

[Service]
ExecStart=/usr/lib/systemd/systemd-journald
ProtectSystem=strict
ReadWritePaths=/var/log/journal /run/log/journal
NoNewPrivileges=yes
