[Unit]
Description=D-Bus System Message Bus

[Service]
ExecStart=/usr/bin/dbus-daemon --system --address=systemd: --nofork
NoNewPrivileges=yes
ProtectSystem=strict
ProtectHome=yes
RuntimeDirectory=dbus
