[Unit]
Description=Regular background program processing daemon

[Service]
ExecStart=/usr/sbin/cron -f
IgnoreSIGPIPE=false
Restart=on-failure

[Install]
WantedBy=multi-user.target
